COMPOSE_PROJECT_NAME=lab4-postgresql

POSTGRES_PASSWORD=lab4_admin_demo
APP_PASSWORD=lab4_app_demo
REPL_PASSWORD=lab4_repl_demo
MONITOR_PASSWORD=lab4_monitor_demo
GRAFANA_PASSWORD=lab4_grafana_demo

WRITE_HOST=primary
READ_HOST=replica